<a ui-sref="new{{state_data.cfgname}}()" class="btn-primary btn-lg nodecoration">Add New {{state_data.cfgname}}</a>

<table class="table configtable">
  <tr>
    <td><h3>All {{state_data.cfgname}} Parameters</h3></td>
    <td></td>
  </tr>
  <tr ng-repeat="(key, value) in configs">

    <td>{{key}}</td>
    <td ng-if="state_data.singleTypeParameters">{{value}}</td>
    <td>
      <a class="btn btn-primary" ui-sref="view{{state_data.cfgname}}({cfg:key})" ng-if="!state_data.singleTypeParameters">View</a>
      <a class="btn btn-primary" ui-sref="edit{{state_data.cfgname}}({cfg:key})">Edit</a-->
      <a class="btn btn-danger" ng-click="deleteConfig({key:key})">Delete</a>
    </td>
  </tr>
</table>
